/* hidden account console header */
header.pf-v5-c-masthead {
    display: none;
}
/* hidden applications menu */
li.pf-v5-c-nav__item:has([data-testid="applications"]) {
    display: none;
}

/* two factor authentication hidden login page header */
div.login-pf-page-header {
    display: none;
}
/* two factor authentication setting page width */
div.login-pf-page div.card-pf:has(#kc-totp-settings) {
    max-width: 800px;
}
