/*
ヘッダの非表示
*/
header.pf-c-page__header {
    display: none !important;
}
/*
メニューのstyle変更
*/
#page-sidebar {
    display: none !important;
}

/*
タブを非表示
*/
.pf-c-tabs {
    display: none !important;
}

