/*
ヘッダの非表示
*/
header.pf-v5-c-masthead {
    display: none !important;
}
/*
メニューのstyle変更
*/
#page-sidebar {
    display: none !important;
}

/*
タブを非表示
*/
.pf-v5-c-tabs {
    display: none !important;
}

