html {
    width: 1000px;  /* autoによる既定値 */
}

.list_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.list_table th {
    font-weight: bold;
    background-color: #cccccc;
}
.list_table th, .list_table td {
    border: 1px solid gray;
}
.list_table td:nth-child(1) {
    text-align: left;
}
.list_table td:nth-child(2) {
    width: 13%;
    text-align: center;
}
.list_table td:nth-child(3) {
    width: 25%;
    text-align: center;
}
.list_table td:nth-child(4) {
    width: 13%;
    text-align: left;
}
.list_table tr:hover {
    cursor: pointer;
    background-color: silver;
}

.itaOptionsDriversLabel {
    cursor: hand;
    display: inline-block;
    padding: 6px 0 0 8px;
}

input[type=checkbox]:disabled+.itaOptionsDriversLabel  {
    cursor: default;
    color: var(--black60)!important;
}

.detail_workspace {
    width: 70%;
    border-collapse: collapse;
    text-align: center;
}
.detail_workspace th {
    font-weight: bold;
    background-color: #cccccc;
}
.detail_workspace th, .detail_workspace td {
    border: 1px solid gray;
}

.data_json{
    width: 100%;
    height: 120px;
    overflow: auto;
    border: 1px solid black;
}

.pl_button{
    cursor: pointer;
}
.pl_button:hover{
    cursor: pointer;
    background-color: silver;
}

.btn_ita{
    width: 120px;
    height: 30px;
}
.btn_ita_big{
    width: 180px;
    height: 30px;
}
.btn_member {
    width:120px;
    height: 32px;
    padding:3px;
    font-weight: bold;
}
.btn_edit {
    width:80px;
    height: 32px;
    padding:3px;
    font-weight: bold;
}

.member_name {
    display: inline-block;
    margin: 4px; padding: 6px 15px;
    background-color: #eee;
    border-radius: 10px;
    line-height: 1;
    color: #000;
}
.auth_item {
    display: inline-block;
    margin: 4px; padding: 6px 15px;
    background-color: #bec;
    border-radius: 10px;
    line-height: 1;
    color: #000;
}
.validate_error {
    color: red;
    text-overflow: unset;
    overflow: scroll;
    white-space: normal;

}

.caution_head {
    color: red;
    font-weight: bold;
    font-size: 22px;
}
.caution_head:before {
    font-family: 'exastro-ui-icons' !important;
    color: orangered;
    content: "\e94b";
    font-size: 26px;
    margin-right: 5px;
}

.caution_message {
    color: red;
    font-weight: bold;
}

.ci.pre_ht100 {
    word-break: break-all!important;
    white-space: pre !important;
    max-height: 100px;
    overflow: auto !important;
    text-overflow: clip !important;
}

.ci.pre_wmax_ht100 {
    word-break: break-all!important;
    white-space: pre !important;
    max-height: 100px;
    max-width: 100% !important;
    overflow: auto !important;
    text-overflow: clip !important;
}

.ci.pre {
    word-break: break-all!important;
    white-space: pre !important;
    overflow: auto !important;
    text-overflow: clip !important;
}

.ita-option-services {
    margin-left: 40px;
    margin-right: 10px;
    border: solid 1px var(--black20);
}

#edit-connection-string input[type="text"]{
    width: 400px;
    min-width: 320px;
}

/* ボタンを表示するエリア / Button area */
.switchArea {
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;

    position: relative;
    margin: auto;
    width: 78px;
    background: transparent;
}

.switchArea-driver {
    float: left;
}

/* チェックボックス / checkbox */
.switchArea input[type="checkbox"] {
    display: none;
}

/* チェックボックスのラベル（標準）/ checkbox label with "OFF" */
.switchArea label {
    display: block;
    box-sizing: border-box;
    height: 32px;
    border: 3px solid var(--black20);
    border-radius: 16px;
    cursor: hand;
    box-shadow: 0 0 2px gray;
}

/* チェックボックスのラベル（ONのとき）/ checkbox label with "ON" */
.switchArea input[type="checkbox"]:checked +label {
    border-color: var(--focusColor);
}

/* 表示する文字（標準）/ display font with "OFF" */
.switchArea label span:after{
    content: "OFF";
    padding: 0 0 0 20px;
    color: var(--black20);
}

/* 表示する文字（ONのとき）/ display font with "ON" */
.switchArea input[type="checkbox"]:checked + label span:after{
    content: "ON";
    padding: 0 20px 0 0;
    color: var(--focusColor);
}

/* 丸部分のSTYLE（標準）/ style of circle with "OFF" */
.switchArea #switchImg {
    position: absolute;
    width: 22px;
    height: 22px;
    background: var(--black20);
    top: 5px;
    left: 5px;
    border-radius: 10px;
    transition: .2s;
}

/* === 丸部分のSTYLE（ONのとき）/ style of circle with "ON" */
.switchArea input[type="checkbox"]:checked ~ #switchImg {
    transform: translateX(44px);
    background: var(--focusColor);
}

.overflowAuto::-webkit-scrollbar {
    width: 10px!important;
    height: 10px!important;
}
.overflowAuto::-webkit-scrollbar-track {
    background: linear-gradient(darkgray,gray);
}
.overflowAuto::-webkit-scrollbar-thumb {
    background: rgba( 255,255,255,.6 );
    border-radius:5px;
    border: 1px solid black;
}
/* Firefox */
.overflowAuto {
    overflow: auto!important;
    text-overflow: clip!important;
    scrollbar-width: thin!important;
    scrollbar-color: #999 #222;
}

.datarow.deleted {
    color: #999;
    font-weight: bold;
}
.datarow.deleted > td {
    background-color: #CCC !important;
}

.datarow.appended {
    color: #444;
    font-weight: bold;
}

.question-icon {
    color: #888;
}

[inert] {
    & :is(input) {
        background-color: #CCD5E0 !important;
    }
}