html {
    width: 1000px;  /* autoによる既定値 */
}

.list_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.list_table th {
    font-weight: bold;
    background-color: #cccccc;
}
.list_table th, .list_table td {
    border: 1px solid gray;
}
.list_table td:nth-child(1) {
    text-align: left;
}
.list_table td:nth-child(2) {
    width: 13%;
    text-align: center;
}
.list_table td:nth-child(3) {
    width: 25%;
    text-align: center;
}
.list_table td:nth-child(4) {
    width: 13%;
    text-align: left;
}
.list_table tr:hover {
    cursor: pointer;
    background-color: silver;
}

.itaOptionsDriversLabel {
    cursor: hand;
    display: inline-block;
    padding: 6px 0 0 8px;
}

input[type=checkbox]:disabled+.itaOptionsDriversLabel  {
    cursor: default;
    color: var(--black60)!important;
}

.detail_workspace {
    width: 70%;
    border-collapse: collapse;
    text-align: center;
}
.detail_workspace th {
    font-weight: bold;
    background-color: #cccccc;
}
.detail_workspace th, .detail_workspace td {
    border: 1px solid gray;
}

.data_json{
    width: 100%;
    height: 120px;
    overflow: auto;
    border: 1px solid black;
}

.pl_button{
    cursor: pointer;
}
.pl_button:hover{
    cursor: pointer;
    background-color: silver;
}

.btn_ita{
    width: 120px;
    height: 30px;
}
.btn_ita_big{
    width: 180px;
    height: 30px;
}
.btn_member {
    width:120px;
    height: 32px;
    padding:3px;
    font-weight: bold;
}
.btn_edit {
    width:80px;
    height: 32px;
    padding:3px;
    font-weight: bold;
}

.member_name {
    display: inline-block;
    margin: 4px; padding: 6px 15px;
    background-color: #eee;
    border-radius: 10px;
    line-height: 1;
    color: #000;
}
.auth_item {
    display: inline-block;
    margin: 4px; padding: 6px 15px;
    background-color: #bec;
    border-radius: 10px;
    line-height: 1;
    color: #000;
}
.validate_error {
    color: red;
    text-overflow: unset;
    overflow: scroll;
    white-space: normal;

}

.caution_head {
    color: red;
    font-weight: bold;
    font-size: 22px;
}
.caution_head:before {
    font-family: 'exastro-ui-icons' !important;
    color: orangered;
    content: "\e94b";
    font-size: 26px;
    margin-right: 5px;
}

.caution_message {
    color: red;
    font-weight: bold;
}

.ci.pre_ht100 {
    word-break: break-all!important;
    white-space: pre !important;
    max-height: 100px;
    overflow: auto !important;
    text-overflow: clip !important;
}

.ci.pre_wmax_ht100 {
    word-break: break-all!important;
    white-space: pre !important;
    max-height: 100px;
    max-width: 100% !important;
    overflow: auto !important;
    text-overflow: clip !important;
}

.ci.pre {
    word-break: break-all!important;
    white-space: pre !important;
    overflow: auto !important;
    text-overflow: clip !important;
}

.ita-option-services {
    margin-left: 40px;
    margin-right: 10px;
    border: solid 1px var(--black20);
}

#edit-connection-string input[type="text"]{
    width: 400px;
    min-width: 320px;
}

/* switch checkbox */
.switchArea {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 64px; height: 32px;
}

.switchArea-driver {
    float: left;
}

.switchArea-center {
    text-align: center;
}

.switchArea > input {
    position: absolute;
    left: 0; top: 0;
    z-index: -1;
    opacity: 0;
}

.switchArea > label {
    overflow: hidden;
    display: block;
    width: 64px; height: 32px;
    padding: 1px;
    background-color: #888;
    background-image: linear-gradient( rgba( 0,0,0,.3 ), rgba( 0,0,0,.2 ) );
    border: 1px solid var(--black30);
    border-radius: 4px;
    cursor: pointer;
    transition-duration: .2s;
}

.switchArea > input:checked + label {
    background-color: #0078DC;
}

.switchArea > input + label > span {
    position: relative;
    display: block;
    width: 100%; height: 100%;
    background-color: #888;
    background-image: linear-gradient( rgba( 0,0,0,.2 ), rgba( 0,0,0,0 ) );
    border-radius: 3px;
    box-shadow: -1px -1px 0 rgba( 255,255,255,.2 ) inset, 1px 1px 0 rgba( 0,0,0,.2 ) inset;
    transition-duration: .2s;
}

.switchArea > input:checked + label > span {
    background-color: #0078DC;
}

.switchArea > input + label > span::before {
    content: 'OFF';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 28px; top: 0px;
    width: calc( 100% - 28px ); height: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: monospace, serif;
    font-weight: bold;
    text-shadow: 1px 1px rgba( 0,0,0,.3 );
    color: #FFF;
    transition-duration: .2s;
}

.switchArea > input:checked + label > span::before {
    content: 'ON';
    left: 2px;
}

.switchArea > input + label > span::after {
    content: '';
    display: block;
    position: absolute;
    left: 3px; top: 3px;
    width: 21px; height: 21px;
    box-shadow: 1px 1px 0 rgba( 0,0,0,.4 ), 1px 1px 0 rgba( 255,255,255,.2 ) inset, -1px -1px 0 rgba( 0,0,0,.2 ) inset;
    background-color: var(--black10);
    background-image: linear-gradient( rgba( 0,0,0,.0 ), rgba( 0,0,0,.2 ) );
    border-radius: 2px;
    transition-duration: .2s;
}

.switchArea > input:checked + label > span::after {
    left: 35px;
}

.switchArea > input:focus + label {
    box-shadow: 0 0 0 1px var(--white100), 0 0 0 3px var(--focusColor);
}

.switchArea > input:focus:hover + label {
    box-shadow: none;
}

.overflowAuto::-webkit-scrollbar {
    width: 10px!important;
    height: 10px!important;
}
.overflowAuto::-webkit-scrollbar-track {
    background: linear-gradient(darkgray,gray);
}
.overflowAuto::-webkit-scrollbar-thumb {
    background: rgba( 255,255,255,.6 );
    border-radius:5px;
    border: 1px solid black;
}

.notification_line {
    margin-top: 1px;
    margin-bottom: 3px;
}

.notification_alert_msg {
    color: red;
    font-weight: bold;
}

/* Firefox */
.overflowAuto {
    overflow: auto!important;
    text-overflow: clip!important;
    scrollbar-width: thin!important;
    scrollbar-color: #999 #222;
}

.datarow.deleted {
    color: #999;
    font-weight: bold;
}
.datarow.deleted > td {
    background-color: #CCC !important;
}

.datarow.appended {
    color: #444;
    font-weight: bold;
}

.question-icon {
    color: #888;
}

[inert] {
    & :is(input) {
        background-color: #CCD5E0 !important;
    }
}