html {
    width: 1000px;  /* autoによる既定値 */
}

.list_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.list_table th {
    font-weight: bold;
    background-color: #cccccc;
}
.list_table th, .list_table td {
    border: 1px solid gray;
}
.list_table td:nth-child(1) {
    text-align: left;
}
.list_table td:nth-child(2) {
    width: 13%;
    text-align: center;
}
.list_table td:nth-child(3) {
    width: 25%;
    text-align: center;
}
.list_table td:nth-child(4) {
    width: 13%;
    text-align: left;
}
.list_table tr:hover {
    cursor: pointer;
    background-color: silver;
}


.detail_workspace {
    width: 70%;
    border-collapse: collapse;
    text-align: center;
}
.detail_workspace th {
    font-weight: bold;
    background-color: #cccccc;
}
.detail_workspace th, .detail_workspace td {
    border: 1px solid gray;
}

.data_json{
    width: 100%;
    height: 120px;
    overflow: auto;
    border: 1px solid black;
}

.btn_ita{
    cursor: pointer;
    width: 120px;
    height: 30px;
}
.btn_ita:hover{
    cursor: pointer;
    background-color: silver;
}