{{/*
#   Copyright 2022 NEC Corporation
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
*/}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "keycloak.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "keycloak.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "keycloak.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "keycloak.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: database-alive-check
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.initContainerImage.repository }}:{{ .Values.initContainerImage.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["sh", "-c"]
          args:
            - |
              {{- .Values.livenessCheck | nindent 14 }}
          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: params-auth-database
                  key: DB_HOST
            - name: DB_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: params-keycloak
                  key: KEYCLOAK_DB_DATABASE
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: secret-keycloak
                  key: KEYCLOAK_DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secret-keycloak
                  key: KEYCLOAK_DB_PASSWORD
      containers:
        - name: {{ template "keycloak.name" . }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ template "keycloak.repository" . }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: TZ
            valueFrom:
              configMapKeyRef:
                name: params-auth-global
                key: TZ
          - name: KEYCLOAK_USER
            valueFrom:
              secretKeyRef:
                name: secret-keycloak
                key: KEYCLOAK_USER
          - name: KEYCLOAK_PASSWORD
            valueFrom:
              secretKeyRef:
                name: secret-keycloak
                key: KEYCLOAK_PASSWORD
          - name: PROXY_ADDRESS_FORWARDING
            value: "true"
          - name: DB_VENDOR
            valueFrom:
              configMapKeyRef:
                name: params-auth-database
                key: DB_VENDOR
          - name: DB_ADDR
            valueFrom:
              configMapKeyRef:
                name: params-auth-database
                key: DB_HOST
          - name: DB_DATABASE
            valueFrom:
              configMapKeyRef:
                name: params-keycloak
                key: KEYCLOAK_DB_DATABASE
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: secret-keycloak
                key: KEYCLOAK_DB_USER
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: secret-keycloak
                key: KEYCLOAK_DB_PASSWORD
          ports:
            - name: port-http
              containerPort: {{ .Values.global.keycloakDefinition.config.KEYCLOAK_PORT }}
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: {{ .Values.global.keycloakDefinition.config.KEYCLOAK_PORT }}
            # httpGet:
            #   path: /auth/realms/master
            #   port: {{ .Values.global.keycloakDefinition.config.KEYCLOAK_PORT }}
            initialDelaySeconds: 5
            periodSeconds: 10            
          readinessProbe:
            tcpSocket:
              port: {{ .Values.global.keycloakDefinition.config.KEYCLOAK_PORT }}
            # httpGet:
            #   path: /auth/realms/master
            #   port: {{ .Values.global.keycloakDefinition.config.KEYCLOAK_PORT }}
            initialDelaySeconds: 5
            periodSeconds: 10            
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
