/.volumes/
/.vscode_extensions/*/
/.vscode_extensions/*
!/.vscode_extensions/.gitkeep
.talismanrc
__pycache__/
/platform_root/*/common_library/
/platform_root/*/common_resources/
/platform_root/*/version
/platform_root/platform_web/contents/version
/*.sql
/.private/
exastro-platform.yaml
.dccache
