#   Copyright 2022 NEC Corporation
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
version: '3.1'
services:
  platform-auth:
    user: 1000:1000
    build:
      dockerfile: ./platform_root/platform_auth/Dockerfile
      context: ../.
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - http_proxy=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - https_proxy=${HTTPS_PROXY}
    environment:
      - TZ=Asia/Tokyo
      - LISTEN_PORT=8000
      - LISTEN_PORT_PF_MNG=8001
      # - PYTHONPATH=/app/
      - CONFIG_API_PATH=/app/api.conf
      - PYTHONIOENCODING=utf-8
      # - EXASTRO_KEYCLOAK_USER=admin
      # - EXASTRO_KEYCLOAK_PASSWORD=password
      # - EXASTRO_KEYCLOAK_MASTER_REALM=master
      - API_KEYCLOAK_HOST=keycloak
      - API_KEYCLOAK_PROTOCOL=http
      - API_KEYCLOAK_PORT=8080
      #- KEYCLOAK_LOCATION=/auth/
      - KEYCLOAK_PROTOCOL=http
      - KEYCLOAK_HOST=keycloak
      - KEYCLOAK_PORT=8080
      #- ITA_WEB_LOCATION=/*/workspaces/*/ita/
      - ITA_WEB_PROTOCOL=http
      - ITA_WEB_HOST=ita-web
      - ITA_WEB_PORT=80
      - ITA_API_PROTOCOL=http
      - ITA_API_HOST=ita-api
      - ITA_API_PORT=8000
      - ITA_API_ADMIN_PROTOCOL=http
      - ITA_API_ADMIN_HOST=ita-api
      - ITA_API_ADMIN_PORT=8000
      - ITA_API_OASE_RECEIVER_PROTOCOL=http
      - ITA_API_OASE_RECEIVER_HOST=ita-api
      - ITA_API_OASE_RECEIVER_PORT=8000
      - ITA_API_ANSIBLE_EXECUTION_RECEIVER_PROTOCOL=http
      - ITA_API_ANSIBLE_EXECUTION_RECEIVER_HOST=ita-api
      - ITA_API_ANSIBLE_EXECUTION_RECEIVER_PORT=8000
      #- PLATFORM_WEB_LOCATION=/*/platform/
      - PLATFORM_WEB_PROTOCOL=http
      - PLATFORM_WEB_HOST=platform-web
      - PLATFORM_WEB_PORT=80
      - PLATFORM_API_PROTOCOL=http
      - PLATFORM_API_HOST=platform-api
      - PLATFORM_API_PORT=8000
      - DB_HOST=${PLATFORM_DB_HOST:-platform-db}
      - DB_DATABASE=platform
      - DB_USER=app_user
      - DB_PASSWORD=password
      - ENCRYPT_KEY=${ENCRYPT_KEY}
      - EXTERNAL_URL=${EXTERNAL_URL:-}
      - EXTERNAL_URL_MNG=${EXTERNAL_URL_MNG:-}
      - EXASTRO_HTTPS=${EXASTRO_HTTPS:-false}
      - CERTIFICATE_FILE=${CERTIFICATE_FILE:-exastro.crt}
      - PRIVATE_KEY_FILE=${PRIVATE_KEY_FILE:-exastro.key}
      # AuditLogの設定は、いずれも既定値あるため、環境変数から渡すのはオプション
      # All AuditLog settings have default values, so passing them from environment variables is optional.
      # - AUDIT_LOG_ENABLED=${AUDIT_LOG_ENABLED:-True}
      # - AUDIT_LOG_PATH=${AUDIT_LOG_PATH}
      # - AUDIT_LOG_FILE_MAX_BYTE=${AUDIT_LOG_FILE_MAX_BYTE}
      # - AUDIT_LOG_BACKUP_COUNT=${AUDIT_LOG_BACKUP_COUNT}
    volumes:
      - ../.volumes/exastro/log:/var/log/exastro
      - ../.volumes/exastro/ssl:/etc/ssl/certs/exastro
    ports:
      - "0.0.0.0:8000:8000"
      - "0.0.0.0:8001:8001"
    networks:
      - exastro

    depends_on:
      platform-migration-2:
        condition: service_completed_successfully

  keycloak:
    build:
      dockerfile: ./platform_root/keycloak/Dockerfile
      context: ../.
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - http_proxy=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - https_proxy=${HTTPS_PROXY}
    healthcheck:
      test: curl http://localhost:8080/auth/health
      interval: 3s
      retries: 200
    environment:
      - TZ=Asia/Tokyo
      - HTTP_PROXY=${HTTP_PROXY}
      - http_proxy=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - https_proxy=${HTTPS_PROXY}
      - NO_PROXY=127.0.0.1,localhost,${NO_PROXY}
      - no_proxy=127.0.0.1,localhost,${NO_PROXY}
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN:-admin}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD:-password}
      - KC_DB=${PLATFORM_DBMS:-mariadb}
      - KC_DB_URL_HOST=${PLATFORM_DB_HOST:-platform-db}
      - KC_DB_URL_DATABASE=keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=password
    networks:
      - exastro
    command:
      - start
    depends_on:
      platform-migration-1:
        condition: service_completed_successfully

  platform-db:
    image: mariadb:10.4.8
    healthcheck:
      test: mysqladmin ping --silent && mysql -u root -p$${MYSQL_ROOT_PASSWORD} -e 'select 1;'
      interval: 3s
      retries: 200
    volumes:
      - ../.volumes/platform-db/data:/var/lib/mysql
      - ../platform_root/platform_db/conf/my.cnf:/etc/mysql/conf.d/my.cnf
    environment:
      - TZ=Asia/Tokyo
      - MYSQL_ROOT_PASSWORD=password
    networks:
      - exastro

  platform-web:
    user: 1000:1000
    build:
      dockerfile: ./platform_root/platform_web/Dockerfile
      context: ../.
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - http_proxy=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - https_proxy=${HTTPS_PROXY}
    environment:
      - TZ=Asia/Tokyo
      - LISTEN_PORT=80
    networks:
      - exastro

  platform-api:
    user: 1000:1000
    build:
      dockerfile: ./platform_root/platform_api/Dockerfile
      context: ../.
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - http_proxy=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - https_proxy=${HTTPS_PROXY}
    environment:
      - TZ=Asia/Tokyo
      - LISTEN_PORT=8000
      - CONFIG_API_PATH=/app/api.conf
      - PYTHONIOENCODING=utf-8
      - API_KEYCLOAK_HOST=keycloak
      - API_KEYCLOAK_PROTOCOL=http
      - API_KEYCLOAK_PORT=8080
      - ITA_API_ADMIN_PROTOCOL=http
      - ITA_API_ADMIN_HOST=ita-api
      - ITA_API_ADMIN_PORT=8000
      - DB_HOST=${PLATFORM_DB_HOST:-platform-db}
      - DB_DATABASE=platform
      - DB_USER=app_user
      - DB_PASSWORD=password
      - DB_ADMIN_USER=root
      - DB_ADMIN_PASSWORD=password
      - ENCRYPT_KEY=${ENCRYPT_KEY}
    networks:
      - exastro

  platform-job:
    user: 1000:1000
    build:
      dockerfile: ./platform_root/platform_job/Dockerfile
      context: ../.
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - http_proxy=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - https_proxy=${HTTPS_PROXY}
    environment:
      - TZ=Asia/Tokyo
      - PYTHONIOENCODING=utf-8
      - DB_HOST=${PLATFORM_DB_HOST:-platform-db}
      - DB_DATABASE=platform
      - DB_USER=app_user
      - DB_PASSWORD=password
      - API_KEYCLOAK_HOST=keycloak
      - API_KEYCLOAK_PROTOCOL=http
      - API_KEYCLOAK_PORT=8080
      - ENCRYPT_KEY=${ENCRYPT_KEY}
    networks:
      - exastro

  platform-migration-1:
    user: 1000:1000
    build:
      dockerfile: ./platform_root/platform_migration/Dockerfile
      context: ../.
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - http_proxy=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - https_proxy=${HTTPS_PROXY}
    command: python3 /app/initialize_db_main.py
    environment:
      - TZ=Asia/Tokyo
      - PYTHONIOENCODING=utf-8
      - DB_HOST=${PLATFORM_DB_HOST:-platform-db}
      - DB_DATABASE=platform
      - DB_USER=app_user
      - DB_PASSWORD=password
      - DB_ADMIN_USER=root
      - DB_ADMIN_PASSWORD=password
      - KEYCLOAK_DB_DATABASE=keycloak
      - KEYCLOAK_DB_USER=keycloak
      - KEYCLOAK_DB_PASSWORD=password
      # - TIMEOUT_SECONDS_CONNECT_DB=600
      # - TIMEOUT_SECONDS_KEYCLOAK_START=600
    networks:
      - exastro

  platform-migration-2:
    user: 1000:1000
    build:
      dockerfile: ./platform_root/platform_migration/Dockerfile
      context: ../.
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - http_proxy=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - https_proxy=${HTTPS_PROXY}
    command: python3 /app/migration_main.py
    environment:
      - TZ=Asia/Tokyo
      - PYTHONIOENCODING=utf-8
      - KEYCLOAK_USER=${KEYCLOAK_ADMIN:-admin}
      - KEYCLOAK_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD:-password}
      - API_KEYCLOAK_HOST=keycloak
      - API_KEYCLOAK_PROTOCOL=http
      - API_KEYCLOAK_PORT=8080
      - DB_HOST=${PLATFORM_DB_HOST:-platform-db}
      - DB_DATABASE=platform
      - DB_USER=app_user
      - DB_PASSWORD=password
      - DB_ADMIN_USER=root
      - DB_ADMIN_PASSWORD=password
      - KEYCLOAK_DB_DATABASE=keycloak
      - KEYCLOAK_DB_USER=keycloak
      - KEYCLOAK_DB_PASSWORD=password
      # - TIMEOUT_SECONDS_CONNECT_DB=600
      # - TIMEOUT_SECONDS_KEYCLOAK_START=600
      - ENCRYPT_KEY=${ENCRYPT_KEY}
    networks:
      - exastro
    depends_on:
      platform-migration-1:
        condition: service_completed_successfully

networks:
  exastro:
    name: "exastro_${NETWORK_ID}"
