#   Copyright 2022 NEC Corporation
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
version: '3.1'
services:
  platform-auth:
    build:
      target: develop_build
      secrets:
        - host_certificate_file
    volumes:
      - ..:/workspace:cached
      - ../platform_root/common_library:/workspace/platform_root/platform_auth/common_library:cached
      - ../platform_root/common_resources:/workspace/platform_root/platform_auth/common_resources:cached
      - ../platform_root/platform_auth:/app:cached
      - ../platform_root/common_library:/app/common_library:cached
      - ../platform_root/common_resources:/app/common_resources:cached
      - ../platform_root/version:/app/version:cached
      - ../platform_root/platform_auth/config/httpd.conf/httpd.conf:/etc/httpd/conf/httpd.conf:cached
      - ../platform_root/platform_auth/config/httpd.conf/reverse-proxy.conf:/etc/httpd/conf.d/reverse-proxy.conf:cached
      - ../platform_root/platform_auth/config/httpd.conf/wsgi.conf:/etc/httpd/conf.d/wsgi.conf:cached
      - ../platform_root/platform_auth/config/httpd.conf/exastro-ssl.conf:/etc/httpd/conf.d/exastro-ssl.conf:cached
      - ~/.netrc:/home/app_user/.netrc
      - ~/.gitconfig:/home/app_user/.gitconfig
      - ./platform-auth/.vscode/launch.json:/workspace/.vscode/launch.json
      - /usr/share/pki/ca-trust-source/anchors/UserRootCertificate.crt:/etc/ssl/certs/ca-certificates.crt
      - /mnt/mainte/talisman/.talismanrc:/mnt/mainte/talisman/.talismanrc
      - ~/.config/git/ignore:/home/app_user/.config/git/ignore
      - ${TALISMAN_HOME}:${TALISMAN_HOME}
      - /var/run/docker.sock:/var/run/docker.sock
      - ../.vscode_extensions/platform-auth/.vscode-server/extensions:/home/app_user/.vscode-server/extensions
      - ../.vscode_extensions/platform-auth/.vscode-server-insiders/extensions:/home/app_user/.vscode-server-insiders/extensions
    environment:
      - FLASK_ENV=development
      - FLASK_SERVER_PORT=8801
      - LOG_LEVEL=DEBUG
      - HTTP_PROXY=${HTTP_PROXY}
      - http_proxy=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - https_proxy=${HTTPS_PROXY}
      - NO_PROXY=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
      - no_proxy=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
      - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
      - SSL_CERT_DIR=/etc/ssl/certs
      - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
      - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED:-1}
      - AUDIT_LOG_ENABLED=${AUDIT_LOG_ENABLED:-True}
      - AUDIT_LOG_PATH=${AUDIT_LOG_PATH:-exastro-audit.log}
      - AUDIT_LOG_FILE_MAX_BYTE=${AUDIT_LOG_FILE_MAX_BYTE:-100000000}
      - AUDIT_LOG_BACKUP_COUNT=${AUDIT_LOG_BACKUP_COUNT:-30}

  platform-api:
    build:
      target: develop_build
      secrets:
        - host_certificate_file
    volumes:
      - ..:/workspace:cached
      - ../platform_root/common_library:/workspace/platform_root/platform_api/common_library:cached
      - ../platform_root/common_resources:/workspace/platform_root/platform_api/common_resources:cached
      - ../platform_root/platform_api:/app:cached
      - ../platform_root/common_library:/app/common_library:cached
      - ../platform_root/common_resources:/app/common_resources:cached
      - ../platform_root/version:/app/version:cached
      - ../platform_root/platform_api/config/httpd.conf/httpd.conf:/etc/httpd/conf/httpd.conf:cached
      - ../platform_root/platform_api/config/httpd.conf/wsgi.conf:/etc/httpd/conf.d/wsgi.conf:cached
      - ~/.netrc:/home/app_user/.netrc
      - ~/.gitconfig:/home/app_user/.gitconfig
      - ./platform-api-with-ita/.vscode/launch.json:/workspace/.vscode/launch.json
      - ./platform-api-with-ita/.vscode/tasks.json:/workspace/.vscode/tasks.json
      - /usr/share/pki/ca-trust-source/anchors/UserRootCertificate.crt:/etc/ssl/certs/ca-certificates.crt
      - /mnt/mainte/talisman/.talismanrc:/mnt/mainte/talisman/.talismanrc
      - ~/.config/git/ignore:/home/app_user/.config/git/ignore
      - ${TALISMAN_HOME}:${TALISMAN_HOME}
      - /var/run/docker.sock:/var/run/docker.sock
      - ../.vscode_extensions/platform-api/.vscode-server/extensions:/home/app_user/.vscode-server/extensions
      - ../.vscode_extensions/platform-api/.vscode-server-insiders/extensions:/home/app_user/.vscode-server-insiders/extensions
    environment:
      - PLATFORM_REPO_ROOT=${PLATFORM_REPO_ROOT:-}
      - FLASK_ENV=development
      - LOG_LEVEL=DEBUG
      - HTTP_PROXY=${HTTP_PROXY}
      - http_proxy=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - https_proxy=${HTTPS_PROXY}
      - NO_PROXY=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
      - no_proxy=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
      - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
      - SSL_CERT_DIR=/etc/ssl/certs
      - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
      - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED:-1}
      - NETWORK_ID=${NETWORK_ID:-}
      - EXT_PORT_PLATFORM_UNITTEST_DB=${EXT_PORT_PLATFORM_UNITTEST_DB:-3308}
  platform-job:
    build:
      target: develop_build
      secrets:
        - host_certificate_file
    volumes:
      - ..:/workspace:cached
      - ../platform_root/common_library:/workspace/platform_root/platform_job/common_library:cached
      - ../platform_root/common_resources:/workspace/platform_root/platform_job/common_resources:cached
      - ../platform_root/platform_job:/app:cached
      - ../platform_root/common_library:/app/common_library:cached
      - ../platform_root/common_resources:/app/common_resources:cached
      - ../platform_root/version:/app/version:cached
      - ~/.netrc:/home/app_user/.netrc
      - ~/.gitconfig:/home/app_user/.gitconfig
      - ./platform-job/.vscode/launch.json:/workspace/.vscode/launch.json
      - ./platform-job/.vscode/tasks.json:/workspace/.vscode/tasks.json
      - /usr/share/pki/ca-trust-source/anchors/UserRootCertificate.crt:/etc/ssl/certs/ca-certificates.crt
      - /mnt/mainte/talisman/.talismanrc:/mnt/mainte/talisman/.talismanrc
      - ~/.config/git/ignore:/home/app_user/.config/git/ignore
      - ${TALISMAN_HOME}:${TALISMAN_HOME}
      - /var/run/docker.sock:/var/run/docker.sock
      - ../.vscode_extensions/platform-job/.vscode-server/extensions:/home/app_user/.vscode-server/extensions
      - ../.vscode_extensions/platform-job/.vscode-server-insiders/extensions:/home/app_user/.vscode-server-insiders/extensions
    environment:
      - PLATFORM_REPO_ROOT=${PLATFORM_REPO_ROOT:-}
      - FLASK_ENV=development
      - LOG_LEVEL=DEBUG
      - HTTP_PROXY=${HTTP_PROXY}
      - http_proxy=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - https_proxy=${HTTPS_PROXY}
      - NO_PROXY=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
      - no_proxy=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
      - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
      - SSL_CERT_DIR=/etc/ssl/certs
      - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
      - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED:-1}
      # Slackは下の環境変数を設定しないとエラーとなり、Teamsは下の環境変数を設定するとエラーとなる
      # - REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
      - NETWORK_ID=${NETWORK_ID:-}
      - JOB_NOTIFICATION_SMTPS_SSL_VERIFY_ENABLED=FALSE
      - EXT_PORT_PLATFORM_UNITTEST_DB=${EXT_PORT_PLATFORM_UNITTEST_DB:-3308}
      - PLATFORM_DBMS=${PLATFORM_DBMS:-mariadb}
  platform-web:
    build:
      target: develop_build
      secrets:
        - host_certificate_file
    volumes:
      - ..:/workspace:cached
      - ../platform_root/platform_web/config/httpd.conf/httpd.conf:/etc/httpd/conf/httpd.conf:cached
      - ../platform_root/platform_web/config/httpd.conf/rewrite.conf:/etc/httpd/conf.d/rewrite.conf:cached
      - ../platform_root/platform_web/contents:/var/www/html:cached
      - ../platform_root/version:/var/www/html/version:cached
      - ~/.netrc:/home/app_user/.netrc
      - ~/.gitconfig:/home/app_user/.gitconfig
      - ./platform-api/.vscode/launch.json:/workspace/.vscode/launch.json
      - /usr/share/pki/ca-trust-source/anchors/UserRootCertificate.crt:/etc/ssl/certs/ca-certificates.crt
      - /mnt/mainte/talisman/.talismanrc:/mnt/mainte/talisman/.talismanrc
      - ~/.config/git/ignore:/home/app_user/.config/git/ignore
      - ${TALISMAN_HOME}:${TALISMAN_HOME}
      - /var/run/docker.sock:/var/run/docker.sock
      - ../.vscode_extensions/platform-web/.vscode-server/extensions:/home/app_user/.vscode-server/extensions
      - ../.vscode_extensions/platform-web/.vscode-server-insiders/extensions:/home/app_user/.vscode-server-insiders/extensions
    environment:
      - HTTP_PROXY=${HTTP_PROXY}
      - http_proxy=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - https_proxy=${HTTPS_PROXY}
      - NO_PROXY=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
      - no_proxy=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
      - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
      - SSL_CERT_DIR=/etc/ssl/certs
      - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
      - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED:-1}

  keycloak:
    build:
      target: develop_build
    volumes:
      - ..:/workspace:cached
      - ../platform_root/keycloak/themes/exastro:/opt/keycloak/themes/exastro:cached
      - ../platform_root/keycloak/themes/keycloak-themes.json:/opt/keycloak/META-INF/keycloak-themes.json:cached
      - /usr/share/pki/ca-trust-source/anchors/UserRootCertificate.crt:/etc/ssl/certs/ca-certificates.crt
    environment:
      - JAVA_OPTS_APPEND=-Xms256m -Xmx256m
      - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
      - SSL_CERT_DIR=/etc/ssl/certs
    command:
      # 開発モードで起動
      - start-dev
      - --spi-theme-static-max-age=-1
      - --spi-theme-cache-themes=false
      - --spi-theme-cache-templates=false

  platform-db:
    ports:
      - "0.0.0.0:${EXT_PORT_PLATFORM_DB:-3307}:3306"

  platform-db-mysql:
    image: mysql:8.0
    healthcheck:
      test: mysqladmin ping --silent && mysql -u root -p$${MYSQL_ROOT_PASSWORD} -e 'select 1;'
      interval: 3s
      retries: 200
    volumes:
      - ../.volumes/platform-db-mysql/data:/var/lib/mysql
      - ../platform_root/platform_db/conf/my.cnf:/etc/mysql/conf.d/my.cnf
    environment:
      - TZ=Asia/Tokyo
      - MYSQL_ROOT_PASSWORD=password
    ports:
      - "0.0.0.0:${EXT_PORT_PLATFORM_DB_MYSQL:-3309}:3306"
    networks:
      - exastro

  platform-migration-1:
    build:
      secrets:
        - host_certificate_file

  # platform-migration-1:
  #   build:
  #     target: develop_build
  #     secrets:
  #       - host_certificate_file
  #   volumes:
  #     - ..:/workspace:cached
  #     - ../platform_root/common_library:/workspace/platform_root/platform_migration/common_library:cached
  #     - ../platform_root/common_resources:/workspace/platform_root/platform_migration/common_resources:cached
  #     - ../platform_root/platform_migration:/app:cached
  #     - ../platform_root/common_library:/app/common_library:cached
  #     - ../platform_root/common_resources:/app/common_resources:cached
  #     - ../platform_root/version:/app/version:cached
  #     - ~/.netrc:/home/app_user/.netrc
  #     - ~/.gitconfig:/home/app_user/.gitconfig
  #     - ./platform-migration/.vscode/launch.json:/workspace/.vscode/launch.json
  #     - /usr/share/pki/ca-trust-source/anchors/UserRootCertificate.crt:/etc/ssl/certs/ca-certificates.crt
  #     - /mnt/mainte/talisman/.talismanrc:/mnt/mainte/talisman/.talismanrc
  #     - ~/.config/git/ignore:/home/app_user/.config/git/ignore
  #     - ${TALISMAN_HOME}:${TALISMAN_HOME}
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - ../.vscode_extensions/platform-migration/.vscode-server/extensions:/home/app_user/.vscode-server/extensions
  #     - ../.vscode_extensions/platform-migration/.vscode-server-insiders/extensions:/home/app_user/.vscode-server-insiders/extensions
  #   environment:
  #     - FLASK_ENV=development
  #     - HTTP_PROXY=${HTTP_PROXY}
  #     - http_proxy=${HTTP_PROXY}
  #     - HTTPS_PROXY=${HTTPS_PROXY}
  #     - https_proxy=${HTTPS_PROXY}
  #     - NO_PROXY=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
  #     - no_proxy=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
  #     - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
  #     - SSL_CERT_DIR=/etc/ssl/certs
  #     - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
  #     - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED:-1}

  platform-migration-2:
    build:
      target: develop_build
      secrets:
        - host_certificate_file
    volumes:
      - ..:/workspace:cached
      - ../platform_root/common_library:/workspace/platform_root/platform_migration/common_library:cached
      - ../platform_root/common_resources:/workspace/platform_root/platform_migration/common_resources:cached
      - ../platform_root/platform_migration:/app:cached
      - ../platform_root/common_library:/app/common_library:cached
      - ../platform_root/common_resources:/app/common_resources:cached
      - ../platform_root/version:/app/version:cached
      - ~/.netrc:/home/app_user/.netrc
      - ~/.gitconfig:/home/app_user/.gitconfig
      - ./platform-migration/.vscode/launch.json:/workspace/.vscode/launch.json
      - /usr/share/pki/ca-trust-source/anchors/UserRootCertificate.crt:/etc/ssl/certs/ca-certificates.crt
      - /mnt/mainte/talisman/.talismanrc:/mnt/mainte/talisman/.talismanrc
      - ~/.config/git/ignore:/home/app_user/.config/git/ignore
      - ${TALISMAN_HOME}:${TALISMAN_HOME}
      - /var/run/docker.sock:/var/run/docker.sock
      - ../.vscode_extensions/platform-migration/.vscode-server/extensions:/home/app_user/.vscode-server/extensions
      - ../.vscode_extensions/platform-migration/.vscode-server-insiders/extensions:/home/app_user/.vscode-server-insiders/extensions
    environment:
      - FLASK_ENV=development
      - LOG_LEVEL=DEBUG
      - HTTP_PROXY=${HTTP_PROXY}
      - http_proxy=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - https_proxy=${HTTPS_PROXY}
      - NO_PROXY=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
      - no_proxy=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api
      - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
      - SSL_CERT_DIR=/etc/ssl/certs
      - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
      - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED:-1}

  ita-api:
    build:
      dockerfile: ./Dockerfile
      context: ../test/api
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - http_proxy=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - https_proxy=${HTTPS_PROXY}
    volumes:
      - ../test/api:/app:cached
    environment:
      - CONFIG_API_PATH=/app/api.conf
      - API_PORT=8000
      - PYTHONIOENCODING=utf-8
      - FLASK_ENV=development
    networks:
      - exastro

  ita-web:
    build:
      dockerfile: ./test/web/Dockerfile
      context: ../.
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - http_proxy=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - https_proxy=${HTTPS_PROXY}
    environment:
      - LISTEN_PORT=80
    volumes:
      - ../test/web/config/httpd.conf/httpd.conf:/etc/httpd/conf/httpd.conf:cached
      - ../test/web/config/httpd.conf/rewrite.conf:/etc/httpd/conf.d/rewrite.conf:cached
      - ../test/web/contents:/var/www/html:cached
    networks:
      - exastro
  platform-init-containers:
    # 監査ログ用の出力フォルダの権限を設定
    # Set output folder permissions for audit logs
    image: busybox:stable
    volumes:
      - ../.volumes/exastro/log:/var/log/exastro
    command: "sh -c 'chmod 777 /var/log/exastro'"

secrets:
  host_certificate_file:
    file: ${HOST_CERTIFICATE_FILE:-/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem}
