version: '3.1'
services:
  platform-auth:
    environment:
      - ITA_WEB_PROTOCOL=http
      - ITA_WEB_HOST=ita-web-server
      - ITA_WEB_PORT=80
      - ITA_API_PROTOCOL=http
      - ITA_API_HOST=ita-api-organization
      - ITA_API_PORT=8000
      - ITA_API_ADMIN_PROTOCOL=http
      - ITA_API_ADMIN_HOST=ita-api-admin
      - ITA_API_ADMIN_PORT=8079
      - ITA_API_OASE_RECEIVER_PROTOCOL=http
      - ITA_API_OASE_RECEIVER_HOST=ita-api-oase-receiver
      - ITA_API_OASE_RECEIVER_PORT=8000
      - ITA_API_ANSIBLE_EXECUTION_RECEIVER_PROTOCOL=http
      - ITA_API_ANSIBLE_EXECUTION_RECEIVER_HOST=ita-api-ansible-execution-receiver
      - ITA_API_ANSIBLE_EXECUTION_RECEIVER_PORT=8000
      - NO_PROXY=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api,ita-api-organization,ita-api-admin,ita-api-oase-receiver,ita-api-ansible-execution-receiver
      - no_proxy=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api,ita-api-organization,ita-api-admin,ita-api-oase-receiver,ita-api-ansible-execution-receiver
  platform-api:
    command: /bin/bash -c "httpd -D FOREGROUND; while(true) do sleep 600; done"
    environment:
      - ITA_API_ADMIN_PROTOCOL=http
      - ITA_API_ADMIN_HOST=ita-api-admin
      - ITA_API_ADMIN_PORT=8079
      - NO_PROXY=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api,ita-api-organization,ita-api-admin,ita-api-oase-receiver,ita-api-ansible-execution-receiver
      - no_proxy=localhost,127.0.0.1,keycloak,platform-auth,platform-api,platform-web,ita-web,ita-api,ita-api-organization,ita-api-admin,ita-api-oase-receiver,ita-api-ansible-execution-receiver
  ita-api:
    profiles:
      - exastro-it-automation-dummy
  ita-web:
    profiles:
      - exastro-it-automation-dummy
  ita-mariadb:
    volumes:
      - ${ITA_REPO_ROOT}/ita_root/ita_mariadb/conf/custom.cnf:/etc/mysql/conf.d/custom.cnf
  ita-init-containers:
    # busybox:latest を使用してしまうと、backyard系の処理が含まれてしまうため別イメージに変えている。
    # docker-compose.with-ita.by-disable.yaml で使用している busybox:latestを、devcontainerが統合してしまうのだろうとおもう
    image: busybox:stable
    volumes:
      - ../.volumes/storage:/storage
    command: "sh -c 'chmod 777 /storage'"
  ita-api-organization:
    build:
      context: ${ITA_REPO_ROOT}
      target: develop_build
    volumes:
      - ../.volumes/storage:/storage
  ita-api-admin:
    build:
      context: ${ITA_REPO_ROOT}
      target: develop_build
    volumes:
      - ../.volumes/storage:/storage
  ita-api-ansible-execution-receiver:
    build:
      context: ${ITA_REPO_ROOT}
      target: develop_build
    volumes:
      - ../.volumes/storage:/storage
  ita-api-oase-receiver:
    build:
      context: ${ITA_REPO_ROOT}
      target: develop_build
    volumes:
      - ../.volumes/storage:/storage

  ita-web-server:
    build:
      context: ${ITA_REPO_ROOT}

  ita-by-ansible-execute:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-ansible-legacy-role-vars-listup:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-ansible-legacy-vars-listup:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-ansible-pioneer-vars-listup:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-ansible-towermaster-sync:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-collector:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-conductor-synchronize:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-conductor-regularly:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-menu-create:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-menu-export-import:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-excel-export-import:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-terraform-cloud-ep-execute:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-terraform-cloud-ep-vars-listup:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-terraform-cli-execute:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-terraform-cli-vars-listup:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-hostgroup-split:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-cicd-for-iac:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-execinstance-dataautoclean:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-file-autoclean:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}
  ita-by-oase-conclusion:
    build:
      context: ${ITA_REPO_ROOT}
    environment:
      - EXECUTE_INTERVAL=${ITA_BY_INTERVAL}

  ita-migration:
    build:
      context: ${ITA_REPO_ROOT}
      target: develop_build
    volumes:
      - ../.volumes/storage:/storage

  ita-mongodb:
    entrypoint: ["docker-entrypoint.sh","mongod","--config","/etc/mongo/mongod.conf"]
    volumes:
      - ${ITA_REPO_ROOT}/ita_root/ita_mongodb/conf/mongod.conf:/etc/mongo/mongod.conf
